.navbar-default .navbar-nav > .active > span {
  background-color: #28415b;
}

.navbar-default .navbar-nav > .active > span > a {
  color: white !important;
}

.navbar-nav span[role=button] {
  display: inline-block;
  line-height: 20px;
}

.menu {
  background-color: #375a7f;
  border-radius: 0;
  border: 0;
  margin-bottom: 0;
}

.navbar-nav > li > span > a {
  color: hsla(0, 0%, 100%, 0.5);
  padding: 15px;
  font-size: 15px;
  margin: 0;
  display: inline-block;
  text-decoration: none;
}

.navbar-nav > li > span > a:hover {
  color: white !important;
}

.menu-logo {
  color: #fff;
  font-family: Kaushan Script, sans-serif;
  font-size: 25px;
}

.button-login {
  margin: 9px;
  float:right;
  background-color: white;
  color: rgb(88,88,88);
  border-radius: 20px;
  border: none;
  font-weight: bold;
}

.button-login:hover, .button-login:focus, .button-login:active, .button-login:active:focus {
    color: #212529;
    background-color: #e2e6ea;
}
