.button-login {
  margin: 9px;
  float: right;
  background-color: white;
  color: rgb(88, 88, 88);
  border-radius: 20px;
  border: none;
  font-weight: bold;
}

.button-login:hover,
.button-login:focus,
.button-login:active,
.button-login:active:focus {
  color: #212529;
  background-color: #e2e6ea;
}
